.button {
    padding: 10px 20px;
    background-color: #E98F35;
    border-radius: 12px;
    font-size: 24px;
    z-index: 100;
    opacity: 1;
    width: 100%;
    text-align: center;

    @media screen and (min-width: 768px) {
       width: auto; 
    }
}

.alt {
    background-color: #114562;
}

