@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #171717;
  --primary:#E98F35;
  --secondary: #114562;
  font-size: 10px;
}

html {
  font-size: 10px;
}


body {
  color: var(--white);
  font-family: var(--font-mate), Arial, Helvetica, sans-serif;
  background-color: var(--secondary);
}

nextjs-portal {
  display: none !important;
}

#home-landing-page:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: black;
  opacity: 0.25;
  background-size: cover;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 5rem;
}
h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.5rem;
}

input {
  background-color: var(--white);
  color: var(--black);
  border-radius: 12px;
  font-size: 16px;
}

.button {
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
}
@media (min-width: 768px) {
  
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  h3 {
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 10rem;
  }
  
  h2 {
    font-size: 4.8rem;
  }

  h3 {
    font-size: 3rem;
  }
  #home-landing-page{
    overflow: hidden;
  }

}
